html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--light-bg);
    color: var(--text-dark);
}

.text-primary-highlight {
    color: var(--primary-blue) !important;
}
